


.contain{
    width: 1170px;
    margin: 50px auto auto auto;
}


.header{

    height: 80px;
    background-color: powderblue;

}


.item{

    margin: 20px auto auto 10px;

}


.lab{

    margin: 20px auto auto 60px;
    color: crimson;
    cursor: pointer;

}


.username{
    margin: 20px auto auto 600px;
    color: black;
    cursor: pointer;
}


.password{

    margin: 20px auto auto 85px;
    color: black;
    cursor: pointer;

}


.date1{
    margin: 45px auto auto 300px;
}


.date2{
    margin: 45px auto auto 80px;
}


.chart{
    margin: 50px auto auto auto;
    width: 800px;
    height: 500px;
}