


.contain{
    width: 1170px;
    margin: 50px auto auto auto;
}


.header{

    height: 80px;
    background-color: powderblue;

}


.item{

    margin: 20px auto auto 10px;

}


.lab{

    margin: 20px auto auto 60px;
    color: crimson;
    cursor: pointer;

}


.username{
    margin: 20px auto auto 600px;
    color: black;
    cursor: pointer;
}


.password{

    margin: 20px auto auto 85px;
    color: black;
    cursor: pointer;

}


.date1{
    margin: 45px auto auto 300px;
}


.date2{
    margin: 45px auto auto 80px;
}


.chart{
    margin: 50px auto auto auto;
    width: 800px;
    height: 500px;
}

.pick{
    margin: 10px auto auto 450px;
    width: auto;
    height: 45px;
    color: darkred;
}

.predict{
    margin: 10px auto auto 100px;
    width: auto;
    height: 45px;
    color: darkred;
}


.tabtop13 {
	margin-top: 13px;
}
.tabtop13 td{
	background-color:#ffffff;
	height:25px;
	line-height:150%;
}
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.btbg1{background:#f2fbfe !important;}
.btbg2{background:#f3f3f3 !important;}
.biaoti{
	font-family: 微软雅黑;
	font-size: 26px;
	font-weight: bold;
	border-bottom:1px dashed #CCCCCC;
	color: #255e95;
}
.titfont {

	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	color: #255e95;
	background: url(../images/ico3.gif) no-repeat 15px center;
	background-color:#e9faff;
}
.tabtxt2 {
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	color:#327cd1;
}
.tabtxt3 {
	font-family: 微软雅黑;
	font-size: 14px;
	padding-left: 15px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}