



.header{

    height: 80px;
    background-color: powderblue;

}


.item{

    margin: 20px auto auto 100px;

}


.lab{

    margin: 20px auto auto 100px;
    color: crimson;
    cursor: pointer;

}